<h1>Please submit your URL</h1>
<%= form_tag({ :controller => :url, :action => :gen }, :method => :get, :id => 'url-submit', :class => 'form-inline') do %>
  <%= text_field_tag :url, nil, :class=> 'input-xxlarge', :placeholder => 'http://google.com'  %>
  <%= submit_tag 'Submit', :class => 'btn btn-primary' %>
<% end %>
